@{
    ViewBag.Title = "Go Ahead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="~/Content/jquery.fullPage.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery.fullPage.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    var jsonType2;

    function output(str) {
        $("#json pre").html(str);
    }

    function syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }

    function textchg(str) {
        $('#ddText').html(str);
    }

    function loadDoc() {
        var docId = $("#docId").val();
        var collection = $("#ddText").text();
        var url = "/api/documents/" + docId + "?format=json&collection=" + collection;
        $.get(url, function (data) {
            jsonType2 = data;
            loadData();
        }).fail(function () {
            $("#json pre").html('');
            $('#accordion').html('');
        });
    }

    $(document).ready(function () {
        $('h1').css("font-size", $(document).height()/5 + "px");
        $('h5').css("font-size", $(document).height()/25 + "px");

        $.get("/api/documents/user_1?format=json&collection=users", function (data) {
            jsonType2 = data;
            loadData();
        }).fail(function () {
            $("#json pre").html('');
            $('#accordion').html('');
        });

        getCollections();
        $('#fullpage').fullpage({
            sectionsColor: ['#EEE', '#FFF']
        });
    });

    function getCollections() {
        var coll = [];
        $.get("/api/collections?format=json", function (data) {
            coll = data;
            coll.forEach(function (element, index, array) {
                $('#ddCollections').append("<li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" href=\"#\" onclick=\"textchg('" + element + "')\">" + element + "</a></li>")
            })
        }).fail(function () {
            $("#json pre").html('');
            $('#accordion').html('');
        });
    }

    function render(collection, id) {
        $('#ddText').html(collection);
        $('#docId').val(id);
        $.get("/api/documents/" + id + "?format=json&collection=" + collection, function (data) {
            jsonType2 = data;
            loadData(true);
        }).fail(function () {
            $("#json pre").html('');
            $('#accordion').html('');
        });
    }

    function loadData(destroy) {
        var json = jsonType2.raw_json_value;
        var obj = JSON.parse(jsonType2.raw_json_value);
        var str = JSON.stringify(obj, undefined, 4);
        output(syntaxHighlight(str));
        var departmentlist = new Array();
        if (destroy)
        {
            $('#accordion').accordion("destroy");
        }
        $('#accordion').html('');
        $.each(jsonType2.references, function (i, contact) {
            if (contact.document != null && $('#' + contact.document).length == 0) {
                $('#accordion').append('<h3 id=' + contact.document + '><a href="#">' + contact.document + '</a></h3>');
                departmentlist.push(contact.document);
            }
            $('#' + contact.document).after('<p><a href="#" onclick="render(\'' + contact.collection + '\',\'' + contact.id + '\')">' + contact.id + '</a></p>');
        });
        $.each(departmentlist, function (i, list) {
            $("#" + list).nextUntil("h3").wrapAll("<div></div>");
        });
        $('#accordion').accordion();
    }
</script>
<div id="fullpage">
    <div class="section">
        <h1>Go Ahead!</h1>
        <h5>'DOCUMENTS' and 'EASY' are now used in one sentence</h5>
    </div>
    <div class="section">
        <div class="wrapper">
            <div>
                <div class="col-lg-8" style="padding-bottom:15px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for Id" id="docId">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" onclick="loadDoc()">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width:100%">
                            <span id="ddText">users</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="ddCollections">
                            @*<li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="textchg('users')">users</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="textchg('users')">users</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="json-holder col-lg-8" id="json">
                    <pre>
                    </pre>
                </div>
                <div class="links-holder col-lg-4" id="links">
                    <div id="contactlist">
                        <div id="accordion">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>